################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/appsettings.json
/bin
/obj
/.vs/SsrsReportScheduler
bin/Debug/net8.0/BouncyCastle.Cryptography.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
bin/Debug/net8.0/Microsoft.Extensions.Http.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
bin/Debug/net8.0/Microsoft.Extensions.Options.dll
bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net8.0/Quartz.dll
bin/Debug/net8.0/Quartz.Extensions.DependencyInjection.dll
bin/Debug/net8.0/Quartz.Extensions.Hosting.dll
bin/Debug/net8.0/Renci.SshNet.dll
bin/Debug/net8.0/SsrsReportScheduler
bin/Debug/net8.0/SsrsReportScheduler.deps.json
bin/Debug/net8.0/SsrsReportScheduler.dll
bin/Debug/net8.0/SsrsReportScheduler.pdb
bin/Debug/net8.0/SsrsReportScheduler.runtimeconfig.json
bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
bin/Debug/net8.0/System.Diagnostics.EventLog.dll
bin/Debug/net8.0/System.IO.Pipelines.dll
bin/Debug/net8.0/System.Text.Encodings.Web.dll
bin/Debug/net8.0/System.Text.Json.dll
bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
obj/project.assets.json
obj/project.nuget.cache
obj/SsrsReportScheduler.csproj.nuget.dgspec.json
obj/SsrsReportScheduler.csproj.nuget.g.props
obj/SsrsReportScheduler.csproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost
obj/Debug/net8.0/SsrsRepo.A0C4BF13.Up2Date
obj/Debug/net8.0/SsrsReportScheduler.AssemblyInfo.cs
obj/Debug/net8.0/SsrsReportScheduler.AssemblyInfoInputs.cache
obj/Debug/net8.0/SsrsReportScheduler.assets.cache
obj/Debug/net8.0/SsrsReportScheduler.csproj.AssemblyReference.cache
obj/Debug/net8.0/SsrsReportScheduler.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/SsrsReportScheduler.csproj.FileListAbsolute.txt
obj/Debug/net8.0/SsrsReportScheduler.dll
obj/Debug/net8.0/SsrsReportScheduler.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/SsrsReportScheduler.genruntimeconfig.cache
obj/Debug/net8.0/SsrsReportScheduler.GlobalUsings.g.cs
obj/Debug/net8.0/SsrsReportScheduler.pdb
obj/Debug/net8.0/ref/SsrsReportScheduler.dll
obj/Debug/net8.0/refint/SsrsReportScheduler.dll
